<!DOCTYPE html>
<html>
<head>
    <title>Questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Answer these questions 👇</h1>

    <form action="/result" method="post">

        <p>What do you like most?</p>

        <select name="interest" required>
            <option value="" disabled selected>Select your interest</option>
            <option value="coding">Coding 💻</option>
            <option value="biology">Biology 🧬</option>
            <option value="business">Business 💼</option>
            <option value="design">Design 🎨</option>
            <option value="teaching">Teaching 📚</option>
            <option value="sports">Sports ⚽</option>
            <option value="music">Music 🎵</option>
            <option value="government">Government Jobs 🏛️</option>
        </select>

        <br><br>

        <button type="submit">Get Result 🚀</button>

    </form>

</body>
</html>